.name {
  font-family: 'Acme', sans-serif;
}

.description {
  font-family: 'Dancing Script', cursive;
}

.fa-github, .fa-telegram {
  opacity: 0;
}

.fa-envelope-open-text {
  opacity: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.avatar {
  max-width: 200px;
  margin: -128px auto auto;
}

main.card {
  opacity: 0;
  margin-top: 200px;
  min-height: 300px;
}

section#contactInfo {
  font-family: 'Space Mono', monospace;
  opacity: 0;
}

ul {
  list-style-type:none;
}

main.rounded-lg {
  border-radius: 1.25rem!important;
}
