$enable-responsive-font-sizes: true;
@import "../node_modules/bootstrap/scss/bootstrap";

.name {
  font-family: 'Acme', sans-serif;
}

.description {
  font-family: 'Dancing Script', cursive;
}

.fa-github, .fa-telegram {
  opacity: 0;
}

.fa-envelope-open-text {
  opacity: 0;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}